---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    background: #111;
    padding: 0 30px;
    height: 54px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-family: "Poppins";
    text-decoration: none;
    text-transform: uppercase;

    svg {
      fill: #fff;
      margin-left: 5px;
      height: 18px;
    }
  }
</style>
